.container {
  max-width: 1140px;
  margin: 0 auto;
}

.news-heading {
  margin-top: 90px;
  text-align: center;

  h1 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
  }

  h1::before {
    content: "";
    border-bottom: 3px solid #000;
    width: 72px;
    height: 0.7em;
    position: absolute;
    top: 0;
    margin-left: -90px;
  }

  p {
    font-size: 18px;
    margin-top: 48px;
    margin-bottom: 90px;
  }
}

.news-wrap {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: 1fr 1fr;
  grid-gap: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
