@font-face {
  font-family: "Audiowide Regular";
  src: url("../fonts/audiowide/audiowide_regular.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/audiowide/audiowide_regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/audiowide/audiowide_regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/audiowide/audiowide_regular.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/audiowide/audiowide_regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/audiowide/audiowide_regular.svg#audiowide_regular")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "AC Boucle";
  src: url("../fonts/AcBoucle/ac_boucle.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/AcBoucle/ac_boucle.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/AcBoucle/ac_boucle.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/AcBoucle/ac_boucle.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/AcBoucle/ac_boucle.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/AcBoucle/ac_boucle.svg#ac_boucle")
      format("svg"); /* Chrome < 4, Legacy iOS */
}
