$primary-light: #fef8dd;
$primary-dark: #181818;
$primary-accent: hsl(229, 23%, 23%);
$primary: hsl(227, 10%, 46%);

$neutral: hsl(0, 0%, 59%);

$main-font: "Kumbh Sans", sans-serif;
$font-color: #e5734c;
